
/*------------------------------------*\
    BODY/HTML + FONT MAIN
\*------------------------------------*/

html { width:100%; height:100%; margin:0; padding:0; }
body { width:100%; height:100%; margin:0; padding:0; }

p { font-family:'Futura W01 Medium', sans-serif; font-weight:300; font-size:12px; color:#1d1d21; }

h1 { text-transform:uppercase; font-family:'Agency FB W00 Bold', arial, sans-serif; font-size:50px; line-height:50px; padding:10px 20px 10px 100px; background-color:#0171bb; color:#ffffff; margin:0 0 30px 0; }

.orange { color:#fcb040 !important; }
.yellow { color:#fff194 !important; }
.green { color:#61a700 !important; }
.blue { color:#0171bb !important; }

ul { text-align:left; padding:0px; margin:0px; font-family:'Futura W01 Medium', sans-serif; font-weight:300; font-size:12px; color:#1d1d21; list-style-type:none; }

.clear { clear:both; }

/*------------------------------------*\
    WP OVERRIDE MAIN
\*------------------------------------*/

.header, .logo, .logo-img, .nav, .sidebar, .footer, .comments { display:none; height:100%; }
.wrapper { margin:0; padding:0; height:100%; }
main { margin:0; padding:0; height:100%; }

/*------------------------------------*\
    LINKS MAIN
\*------------------------------------*/

a { text-decoration:none; outline:0; color:inherit; border:none; border-style:none; transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; }
a:hover { color:#fcb040; transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; }
.active { color:#fcb040 !important; }

/*------------------------------------*\
    NAV MAIN
\*------------------------------------*/


/*------------------------------------*\
    NAV MOBILE MAIN
\*------------------------------------*/


/*------------------------------------*\
    RESPONSIVE CSS
\*------------------------------------*/

@media only screen and (min-width:280px) and (max-width:479px) {

}

@media only screen and (min-width:480px) and (max-width:639px) {

}

@media only screen and (min-width:640px) and (max-width:799px) {

}

@media only screen and (min-width:800px) and (max-width:1139px) {

}

@media only screen and (min-width:1600px) and (max-width:1919px) {

}

@media only screen and (min-width:1920px) {

}
